.akzent-point-of-interest-image-card {
  position: relative;
  overflow: hidden;
  color: white;
  margin: 10px
}

.akzent-point-of-interest-image-card &:hover {
  width: 125%;
}

.akzent-point-of-interest-image-card-inner {
  background-image: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0.85));
  position: absolute;
  top:0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
}

.akzent-point-of-interest-image-wrapper {
  height: 100%;
}

.akzent-point-of-interest-image-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: middle
}

.akzent-point-of-interest-title {
  color:#cca772;
  text-align: center;
  text-shadow: 1px 1px 6px black;
}

.akzent-point-of-interest-content-wrapper {
  max-height: 35%;
  overflow: hidden;
  margin-bottom: 5px;
}

.akzent-point-of-interest-content {
  height: 100%;
  color: #FFF;
  text-align: center;
  text-rendering: optimizeLegibility;
  padding: 1vw;
}


.akzent-point-of-interest-address-line {
  text-align: center;
  font-weight: 400;
  word-spacing: 6px;
  margin: 0;
  margin-bottom: 2vh;
}

.akzent-point-of-interest-image-card-footer {
  width: 100%;
}

.akzent-point-of-interest-image-card-footer .bottom-footer{
  color: #cca772;
  display: flex;
  justify-content: space-between;
  text-shadow: 1px 1px 1px black;
  padding: 0.3vw
}

.akzent-point-of-interest-image-card-footer .copyright-footer-note {
  background: rgba(0,0,0,0.5);
  padding: 3px;
  text-align: center;
}
