.swiper-button-next, .swiper-button-prev {
  background-image: unset !important;
  color: white;
  font-size: 3rem;
  text-shadow: 1px 1px black;
}

.swiper-button-next::after, .swiper-button-prev::after {
  content: "" !important;
}
