.swiper-button-next, .swiper-button-prev {
  color: white;
  background-image: unset;
  font-size: 2rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.swiper-button-prev {
  left: 20px;
}

.swiper-button-next {
  right: 20px;
}

@media only screen and (max-width: 680px)  {
  .swiper-button-next, .swiper-button-prev {
    display: none !important;
  }

  .akzent-point-of-interest-content-wrapper {
    display: none;
  }
}

.akzent-point-of-interest-title {
  font-size: 32px;
  font-weight: 200;
  letter-spacing: 0.65vw;
  color:#cca772 !important;
  margin: 0
}

.akzent-point-of-interest-slider .swiper-pagination-bullets {
  bottom: 0px;
}
