.swiper-button-next, .swiper-button-prev {
  color: white !important;
  background-image: unset;
  font-size: 2rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.swiper-button-prev {
  left: 20px !important;
}

.swiper-button-next {
  right: 20px !important;
}

@media only screen and (max-width: 680px)  {
  .swiper-button-next, .swiper-button-prev {
    display: none !important;
  }

  .akzent-point-of-interest-content-wrapper {
    display: none !important;
  }
}

.akzent-point-of-interest-image-card-inner {
  opacity: 0.0;
  transition: all ease-in 1.5s;
}

.swiper-slide-active .akzent-point-of-interest-image-card-inner {
  opacity: 1.0;
}

.akzent-point-of-interest-title {
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 0.65vw;
  margin: 0;
  text-shadow: 1px 1px 6px black
}

@media only screen and (min-width: 680px) {
  .akzent-point-of-interest-title {
    font-size: 48px;
  }
}

.akzent-point-of-interest-slider .swiper-pagination-bullets {
  bottom: 0px;
}
