.akzent-point-of-interest-image-card {
  position: relative;
  max-height: 320px;
  overflow: hidden;
  text-shadow: 1px 1px 1px black;
  box-shadow: 0px 0px 12px -4px black;
}

.akzent-point-of-interest-image-card-inner {
  position: absolute;
  top:0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.akzent-point-of-interest-image-card-inner-top, .akzent-point-of-interest-image-card-inner-bottom {
  background: rgba(0,0,0,0.2)
}

.akzent-point-of-interest-image-card-inner-bottom {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: baseline;
}

.akzent-point-of-interest-image-card img {
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 24px -8px rgba(0,0,0,0.75);
  min-height: 320px;
  object-fit: cover;
  vertical-align: middle
}

.akzent-point-of-interest-image-card .akzent-point-of-interest-title {
  color: blanchedalmond;
  width: 100%;
  font-weight: 300;
  letter-spacing: 0.55vw;
}

.akzent-point-of-interest-image-card .akzent-point-of-interest-address-line {
  width: 100%;
  font-weight: 300;
  font-size: 12px;
}

.akzent-point-of-interest-content-wrapper {
  display: none;
}

.akzent-point-of-interest-image-card-footer .copyright-footer-note {
  background: rgba(0,0,0,0.5);
  color: white;
  width: 100%;
  padding: 3px;
  text-align: center;
}

.akzent-point-of-interest-image-card-footer {
  width: 100%;
}

.akzent-point-of-interest-image-card-footer .bottom-footer{
  margin-top: 1.25vh;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: blanchedalmond;
}

